body {
  background-image: url('./images/wave.svg');
  font-family: 'Noto Sans', sans-serif;
  margin: 0 auto;
}

input {
  border: 1px solid black;
}

.list-group-item {
  width: 25%;
}

.list-group-item button {
  float: right;
}

/* For Strike-through effect on hover */
span {
  position: relative;
  cursor: pointer;
  margin: 10px;
}

span:before,
span:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 1px;
  top: 50%;
  margin-top: -0.5px;
  background: #fff;
}

span:before {
  left: -2.5px;
}

span:after {
  right: 2.5px;
  background: #fff;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

span:hover:before {
  background: black;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

span:hover:after {
  background: transparent;
  width: 100%;
  transition: 0.5s;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: lightgray;
  opacity: 1; /* Firefox */
}

.btn-sm {
  margin: 10px;
}

.form-control {
  border: 1px solid black;
  margin: 10px;
  width: 25%;
}

.is-completed {
  text-decoration: line-through;
}

.list-group-item {
  border: none;
}

.container-fluid {
  border-color: #fff;
}

.float {
  float: right;
}
